{% extends "base/base.html" %}
{% load static %}
{% block title %}Login{% endblock %}


{% block content %}
{% include 'base/nav-main.html' %}
<div class="container" style="width: 40%; outline: none; background: transparent;">
    <div class="row">
        <div class="col-12">
            <div class="card text-center card-form" style="border: none; background: transparent;">
                <div class="card-body">
                    {% include 'registration/messages.html' %}
                    <h3 style="color: var(--clr-grey-2);">login here</h3>

                    {% if form.errors %}
                        <p>Please correct the following errors:</p>
                            {% for field in form %}
                                {% if field.errors %}
                                <div class="alert alert-primary" role="alert">
                                    {{ field.errors|striptags }}
                                </div>
                                {% endif %}
                            {% endfor %}
                    {% endif %}


                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="small font-weight-bold">{{ form.username.label }}
                            </label>
                            {{ form.username }}
                        </div>

                        <div class="form-group">
                            <label class="small font-weight-bold">{{ form.password.label}}
                                </label>
                            {{ form.password }}
                        </div>
                        <br>
                        <input type="submit" value="Submit" class="btn btn-block mx-auto" style="width: 28%; background: rgba(38, 82, 102, 0.59);">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}